h1{
  background-color: aqua;
  width: 160px;
}

.btn1{
  background-color: #0cf241;
  color: white;
  border-radius: 5px ;
  height: 40px;
  font-size: 20px;
margin: 10px;
}

select{
  font-size: 20px;
  padding: 3px;
}

.btn2{
  border-radius: 5px ;
  background-color: red;
  color: white;
  font-size: 20px;
  
}

#content{
  /* font-size: 30px; */

}
